<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Who We Are</h2>
                    <div class="text-center">
                      <p class="large">Plastic Fern is a multi-faceted studio that provides tools, insights, and deliverables to help you
ship your game. From porting to release management, audio and QA, our veteran team has vast
experience across nearly all platforms, and understands the intricacies involved with launch.
We believe in building relationships collaborative with our clients, fostering clear and honest
communication while saving you time, money, mistakes, and hassle.</p>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Values</h2>
                </div>
            </div>
                    <div class="row">
                      <div class="col-md-6">
                          <ul class="noindent" style="list-style-type:disc;">
                          <li>
                              <p class="text-secondary">Collaboration through Communication: We work with you to understand the best
    solutions for your game, and communicate those clearly and efficiently to help
    maximize time and budget.</p>
                          </li>
                          <li>
                              <p class="text-secondary">User-Experience First: We believe in looking at the game from a holistic lens, ensuring
    that our work bolsters the authentic player experience you’re looking to create.</p>
                          </li>
                          <li>
                              <p class="text-secondary">Transparency: An honest relationship is paramount to success. We will always be honest
    with you and with ourselves about timelines, concerns, or questions that arise.</p>
                          </li>
                          </div>
                          <div class="col-md-6">
                          <li>
                              <p class="text-secondary">Working on Projects We Believe In: We know that if we work on games, and with
    companies we believe in you’ll get our best work product. We’re particularly passionate
    about games and companies that bolster underrepresented voices.</p>
                          </li>
                          <li>
                              <p class="text-secondary">Employee Well-Being: We’re firmly against crunch culture and know that our employees
    deserve to be compensated fairly for the work they do in order to create a culture we
    believe in and provide our best work possible.</p>
                          </li>
                        </div>
                    </div>
        </div>
    </section>
