<!-- Clients Aside -->
    <section id ="clients">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading">Clients</h2>
            </div>
            <div class="row">
                <div class="col-md-3">
                  <p class="text-secondary">They seemed like members of the team who had been working in the project for years after only a few weeks.  On top of being technical wizards, the team was also a pleasure to work with.  We will unquestionably be using their services for future projects.</p>
                  <p class="large">Rich Siegel, Founder <br> <i>Cleaversoft</i></p>
                </div>
                <div class="col-md-3">
                  <p class="text-secondary">Invaluable through the submission process for Vane and talented at finding bugs in the nooks and crannies. Thanks to their help, Vane passed PS4 submission on the first try and they were great at rolling with our irregular schedule. Given the chance, I'd hire Jay and his team in a heartbeat.</p>
                  <p class="large">Matt Smith, Co-Founder <br> <i>Friend & Foe</i></p>
                </div>
                <div class="col-md-3">
                  <p class="text-secondary">The Plastic Fern folks are amazingly thorough, precise, and flexible. We've been super impressed!</p>
                  <p class="large">Jamie Cheng, Founder <br> <i>Klei Entertainment</i></p>
                </div>
                <div class="col-md-3">
                  <p class="text-secondary">Releasing your first commercial game is scary. Getting through console submission is scarier. I learned so much about proper QA and certification working with Plastic Fern, and I hope we never have to go through launching a game without them!</p>
                  <p class="large">Corey Warning, Cofounder <br> <i>Rose City Games</i></p>
                </div>
            </div>
            </div>
            <br>
            <br>
            <br>
            <img src= "{{site.baseurl}}/assets/img/PFClientGames-2019.jpg" class = "centered">
          </div>
    </section>
