<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <p class="secondary">Let's talk about your next project, help you finish out a current one, or chat about what we can help your game with!</p>
                    <br>
                    <br>
                </div>
            </div>
            <div class="form-style-6">
            <form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/info@plasticfernstudios.com" method="post">
              <fieldset id="fs-frm-inputs">
                <label for="full-name">Your Name</label>
                <input type="text" name="name" id="full-name" placeholder="First and Last" required="">
                <label for="email-address">Email Address</label>
                <input type="email" name="_replyto" id="email-address" placeholder="email@domain.com" required="">
                <label for="message">Message</label>
                <textarea rows="5" name="message" id="message" placeholder="Tell us what you need!" required=""></textarea>
                <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
              </fieldset>
              <input type="submit" value="SEND">
            </form>
            </div>
        </div>
    </section>
