<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                      <img src= "{{site.baseurl}}/assets/img/release_management_icon.png" height = 120px>
                    </span>
                    <h4 class="service-heading">Release Management</h4>
                    <ul class="noindent" style="list-style-type:disc;">
                      <li>A step-by-step process to ensure you get through cert on almost any platform</li>
	                    <li>Getting your build packaged and ready to pass compliance</li>
	                    <li>A vast understanding of timelines and requirements for most platforms</li>
	                    <li>Saves you time, brainpower, and mistakes</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                      <img src= "{{site.baseurl}}/assets/img/porting_icon.png" height = 120px>
                    </span>
                    <h4 class="service-heading">Porting</h4>
                    <ul class="noindent" style="list-style-type:disc;">
                      <li>Programming and getting your build ready on almost any platform</li>
	                    <li>An integrated team with no outsourcing needed</li>
	                    <li>Meets and exceeds timelines to get you to your goal</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                      <img src= "{{site.baseurl}}/assets/img/qa_icon.png" height = 120px>
                    </span>
                    <h4 class="service-heading">QA</h4>
                    <ul class="noindent" style="list-style-type:disc;">
                      <li>Premium testing with a high quality bar</li>
	                    <li>A diverse and experienced team that immerses themselves in your game for a more holistic perspective</li>
	                    <li>Understanding and communicating deadlines, needs, and requirements for each platform</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                      <img src= "{{site.baseurl}}/assets/img/audio_icon.png" height = 120px>
                    </span>
                    <h4 class="service-heading">Audio</h4>
                    <ul class="noindent" style="list-style-type:disc;">
                      <li>Our team deeply immerses ourselves in every project, looking at it from an integrated lens and giving you audio that fits your game’s need.</li>
	                    <li> A strong background in usability and game design, which ensures audio that enhances the game’s experience</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
